body {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
}

.header, .footer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100vw;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #1f2937;
}

.logo {
    display: flex;
    padding: 8px;
    font-size: 24px;
    color: #f9faf8;
}

.links {
    display: flex;
}

.links a {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
}

.website-info {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
}

button {
    padding: 8px;
    width: 100px;
}

.image-section {
    display: flex;
}

.action-section {
    display: flex;
}

.quote-section {
    display: flex;
    background-color: #e5e7eb;
}

.copyright {
    display: flex;
}

.quote {
    display: flex;
    font-size: 36px;
    color: #1f2937;
}

ul {
    padding: 0;
    list-style-type: none;
}
