body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #1f2937;
    max-height: 100vh;
}

.logo {
    display: flex;
    padding: 8px;
}

.links {
    display: flex;
    text-decoration: none;
}

.links a {
    text-decoration: none;
}

.content {
    display: flex;
    height: calc(100vh - 100px);
}

.website-info {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    flex-direction: column;
}

button {
    padding: 8px;
    width: 100px;
}

.image-section {
    display: flex;
}

.action-section {
    display: flex;
}

.footer {
    display: flex;
    width: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

ul {
    padding: 0;
    list-style-type: none;
}
