@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.header {
    display: flex;
    height: 50px;
    width: 100%;
    background-color: #1f2937;
    flex-shrink: 0;
    justify-content: space-between;
    align-items: center;
    color: #e5e7eb;
}

.logo {
    display: flex;
    margin-left: 32px;
    font-size: 24px;
    color: #f9faf8;
    flex-shrink: 0;
    font-weight: 600;
}

.links {
    display: flex;
    justify-content: space-between;
}

.links li {
    list-style-type: none;
    margin-right: 32px;
}

.links a {
    text-decoration: none;
    color: #e5e7eb;
}

.content {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.info-area {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    background-color: #1f2937;
    height: 450px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 20px;
    flex-grow: 0;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    margin-left: 24px;
    flex-basis: 400px;
    flex-grow: 0;
    flex-shrink: 0;
}

.info-heading {
    font-size: 48px;
    font-weight: 700;
    color: #e5e7eb;
}

.info-para {
    font-size: 18px;
    font-weight: normal;
    color: #e5e7eb;
    margin-top: -50px;
    flex-grow: 0;
    flex-shrink: 1;
}

.info-button button {
    color: #e5e7eb;
    background-color: #3882f6;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    width: 140px;
    padding: 8px;
    margin-top: 16px;
}

.info-image {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    width: 350px;
    margin: 50px;
}

.image-section {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 100px;
    padding-top: 12px;
    padding-bottom: 50px;
}

.image-heading {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 12px;
}

.image-boxes {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
    flex-wrap: wrap;
    flex-grow: 0;
}

.image-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 150px;
    height: 200px;
}

.image-box img {
    border: 4px solid #3882f6;
    border-radius: 6px;
    height: 150px;
    width: 150px;
}

.action-area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100px;
}

.action-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882f6;
    border-radius: 6px;
    padding: 12px 36px;
}

.action {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.buynow {
    padding-left: 32px;
}

.buynow button {
    color: #e5e7eb;
    background-color: #3882f6;
    border: 2px solid #f9faf8;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 600;
    width: 120px;
    padding: 8px;
}

.buynow button a {
    text-decoration: none;
    color: white;
}

.quote-section {
    display: flex;
    background-color: #e5e7eb;
    padding: 50px;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1f2937;
    text-align: center;
    font-style: italic;
}

.quote-end {
    padding-left: 400px;
}

.footer {
    display: flex;
    height: 70px;
    width: 100%;
    background-color: #1f2937;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}
